
*{
  margin: 0px ;
  padding: 0px;
  box-sizing: border-box;
}
.App {
  text-align: center;
}

.heading {
  margin: 20px;
  text-transform: capitalize;

}

.card {
  background: #ffffff;
  padding: 20px;
  box-sizing: border-box;
  /* border: 1px solid #000000; */
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  margin: 20px;

}

.loading{
  text-align: center;
  margin: 50px;
}

.select-box select {
  padding: 12px;
  margin: 20px 60px;
  outline: none;
  border-radius: 10px;
  border: none;
  background: #fff;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

option {
  font-size: 14px;
  text-transform: capitalize;
}